@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --main-color: #9ed4bc;
    --main-color-dark: #5b8a73 ;
    --main-bg: linear-gradient(to right, #9ed4bc, #33684f);
    --box-shadow-buttons:  0 5px  rgb(113, 170, 142); 
    --border-radius: 1.2rem;
}

* {
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    border-radius: var(--border-radius);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

.logo {
    max-width: 150px;
}

h1 {
    font-size: 1.5em;
    color: #333;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="number"],
input[type="text"] {
    width: calc(100% - 0px);
    padding: 10px;
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    outline: none;
    margin-top: 5px ;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.button-group {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background 0.3s;
    box-shadow: var(--box-shadow-buttons);
}

button:hover {
    background: var(--main-color-dark);
}

.percentage-btn {
    flex: 1;
    margin-right: 10px;
}

.percentage-btn:last-child {
    margin-right: 0;
}

.result {
    margin-top: 20px;
}

.result p {
    font-size: 1.2em;
    color: #333;
}

.result span {
    color: var(--main-color-dark);
}


/* Responsive Design */
@media (max-width: 600px) {
    .button-group {
        flex-direction: column;
    }
    .percentage-btn {
        margin: 5px 0;
    }
}

